@model Modelo.Cadastros.Cliente

@{
    ViewBag.Title = "Detalhes";
}

<h2>Dados do Cliente</h2>

<div>
    <h4>Cliente - @Html.DisplayFor(x => x.RazaoSocialCliente)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(x => x.RazaoSocialCliente)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.RazaoSocialCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.FantasiaCliente)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.FantasiaCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.CnpjCliente)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.CnpjCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.RuaCliente)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.RuaCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(x => x.NumeroRuaCliente)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.NumeroRuaCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.ComplementoCliente)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.ComplementoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.BairroCliente)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.BairroCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(x => x.MunicipioCliente)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.MunicipioCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.CepCliente)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.CepCliente)
        </dd>
    </dl>
</div>

@Html.ActionLink("Voltar", "Consultar")

