@model IEnumerable<DesafioMobWeb.Models.Usuario>

@{
    ViewBag.Title = "Lista de Usuários";
}

<h2>Consulta de Usuários</h2>

<!--###   TABELA DE CONSULTA DE USUÁRIOS   ###-->

<p>
    @Html.ActionLink("Cadastrar Novo", "Cadastrar")
</p>


<table class="table">
    <!--Títulos das Colunas-->
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.NomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.ApelidoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.SenhaUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.ConfirmarSenhaUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.EmailUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.TelefoneUsuario)
        </th>
        <th></th>
    </tr>


    <!--Loop para listar todos os registros do BD-->
    @foreach (var usuario in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => usuario.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(x => usuario.ApelidoUsuario)
            </td>
            <td>
                @Html.DisplayFor(x => usuario.SenhaUsuario)
            </td>
            <td>
                @Html.DisplayFor(x => usuario.ConfirmarSenhaUsuario)
            </td>
            <td>
                @Html.DisplayFor(x => usuario.EmailUsuario)
            </td>
            <td>
                @Html.DisplayFor(x => usuario.TelefoneUsuario)
            </td>
            <td>
                @Html.ActionLink("Visualizar", "Detalhes", new {id = usuario.UsuarioID })
                @Html.ActionLink("Editar", "Editar", new { id = usuario.UsuarioID })
                @Html.ActionLink("Excluir", "Excluir", new { id = usuario.UsuarioID })
            </td>

        </tr>
        
    }
</table>
