@model DesafioMobWeb.Models.Usuario

@{
    ViewBag.Title = "Excluir Usuário";
}

<h2>Excluir</h2>

<div class="dl-horizontal">
    <h4>Usuário - @Html.DisplayFor(x => x.NomeUsuario)</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(x => x.NomeUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.NomeUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.ApelidoUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.ApelidoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.SenhaUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.SenhaUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.ConfirmarSenhaUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.ConfirmarSenhaUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.EmailUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.EmailUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.TelefoneUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(x => x.TelefoneUsuario)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" />
            @Html.ActionLink("Cancelar", "Consultar")
        </div>
    }

</div>

