@model IEnumerable<DesafioMobWeb.Models.Usuario>

@{
    ViewBag.Title = "Lista de Usuários";
}

<h2>Consulta de Usuários</h2>

<!--###   TABELA DE CONSULTA DE USUÁRIOS   ###-->    

<p>
    @Html.ActionLink("Cadastrar Novo", "Cadastrar")
</p>
<table class="table">
    <!--Títulos das Colunas-->
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.NomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.ApelidoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.SenhaUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.ConfirmarSenhaUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.EmailUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.TelefoneUsuario)
        </th>
    </tr>

    <!--Loop para listar todos os registros do BD-->
    @foreach (var usuario in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(x => usuario.NomeUsuario)
            </th>
            <th>
                @Html.DisplayFor(x => usuario.ApelidoUsuario)
            </th>
            <th>
                @Html.DisplayFor(x => usuario.SenhaUsuario)
            </th>
            <th>
                @Html.DisplayFor(x => usuario.ConfirmarSenhaUsuario)
            </th>
            <th>
                @Html.DisplayFor(x => usuario.EmailUsuario)
            </th>
            <th>
                @Html.DisplayFor(x => usuario.TelefoneUsuario)
            </th>
        </tr>
    }
</table>
