@using DesafioMobWeb.Models
@model Cliente

@{
    ViewBag.Title = "Cadastro de Clientes";

    var razaoCliente = "";
    var fantasiaCliente = "";

    if (IsPost)
    {

        // Recupera o valor informado
        // no formulário
        var razao = Request["razaoSocialCliente"];
        var fantasia = Request["fantasiaCliente"];

        razaoCliente = razao;
        fantasiaCliente = fantasia;

    }
}

<h2>@ViewBag.Title</h2>


<div>

    <p>Digite a razão Social e nome Fantasia:</p>


    <!--Formulário de cadastro-->
    <form action="" method="post">

        <!--### FORMULÁRIO CADASTRO DE CLIENTES ###-->

        <!--Código-->
        <div>
            @Html.LabelFor(model => model.clienteID)
        </div>
        <div>
            @Html.EditorFor(x => x.clienteID)
        </div>

        <!--Razão Social-->
        <div>
            @Html.LabelFor(model => model.razaoSocialCliente)
        </div>
        <div>
            @Html.EditorFor(x => x.razaoSocialCliente)
        </div>

        <!--CNPJ-->
        <div>@Html.LabelFor(model => model.cnpjCliente) 
            <div>
                @Html.EditorFor(x => x.cnpjCliente)
            </div>
        </div>

        <!--Endereço-->
        <div>
            @Html.LabelFor(model => model.ruaCliente) 
            <div>
                @Html.EditorFor(x => x.ruaCliente)
            </div>
            <div>
                @Html.LabelFor(model => model.numeroRuaCliente)
                <div>
                    @Html.EditorFor(x => x.numeroRuaCliente)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.complementoCliente)
                <div>
                    @Html.EditorFor(x => x.complementoCliente)
                </div>
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.bairroCliente) @Html.EditorFor(x => x.bairroCliente)
            @Html.LabelFor(model => model.municipioCliente) @Html.EditorFor(x => x.municipioCliente)
            @Html.LabelFor(model => model.cepCliente) @Html.EditorFor(x => x.cepCliente)

        </div>

        <!--Botão Cadastrar-->
        
        <p><input type="submit" value="Cadastrar" /></p>


    </form>

    </div>


