@using DesafioMobWeb.Models
@model Cliente

@{
    ViewBag.Title = "Cadastro de Clientes";

    var razaoCliente = "";
    var fantasiaCliente = "";

    if (IsPost)
    {

        // Recupera o valor informado
        // no formulário
        var razao = Request["razaoSocialCliente"];
        var fantasia = Request["fantasiaCliente"];

        razaoCliente = razao;
        fantasiaCliente = fantasia;

    }
}

<h2>@ViewBag.Title</h2>


<div>

    <p>Digite a razão Social e nome Fantasia:</p>

    <!--Exibindo os dados de entrada-->
    <br>@Model.clienteID
    <br>@Model.razaoSocialCliente
    <br>@Model.fantasiaCliente
    <br>@Model.cnpjCliente
    <br>@Model.ruaCliente
    <br>@Model.numeroRuaCliente
    <br>@Model.complementoCliente
    <br>@Model.bairroCliente
    <br>@Model.municipioCliente
    <br>@Model.cepCliente

    <br></br>

    <!--Formulário de cadastro-->
    <form action="" method="post">



        @Html.LabelFor(model => model.fantasiaCliente)
        @Html.LabelFor(model => model.cnpjCliente)
        @Html.LabelFor(model => model.razaoSocialCliente)

        <!--### FORMULÁRIO CADASTRO DE CLIENTES ###-->

        <!--Código-->
        <div>
            @Html.LabelFor(model => model.clienteID)
        </div>
        <div>
            @Html.EditorFor(x => x.clienteID)
        </div>

        <!--Razão Social-->
        <div>
            @Html.LabelFor(model => model.razaoSocialCliente)
        </div>
        <div>
            @Html.EditorFor(x => x.razaoSocialCliente)
        </div>

        <!--CNPJ-->
        <div>@Html.LabelFor(model => model.cnpjCliente) @Html.EditorFor(x => x.cnpjCliente)</div>

        <!--Endereço-->
        <div>
            @Html.LabelFor(model => model.ruaCliente) @Html.EditorFor(x => x.ruaCliente)
            @Html.LabelFor(model => model.numeroRuaCliente) @Html.EditorFor(x => x.numeroRuaCliente)
            @Html.LabelFor(model => model.complementoCliente) @Html.EditorFor(x => x.complementoCliente)
        </div>
        <div>
            @Html.LabelFor(model => model.bairroCliente) @Html.EditorFor(x => x.bairroCliente)
            @Html.LabelFor(model => model.municipioCliente) @Html.EditorFor(x => x.municipioCliente)
            @Html.LabelFor(model => model.cepCliente) @Html.EditorFor(x => x.cepCliente)

        </div>

        <!--Botão de Cadastro-->
        
        <p><input type="submit" value="Cadastrar" /></p>


    </form>

    <p>Razão Social: <b> @razaoCliente </b></p>
    <p>Fantasia: <b> @fantasiaCliente </b></p>

</div>


