@{
    ViewBag.Title = "Cadastro de Clientes";
}

<h2>@ViewBag.Title</h2>



@{

    var razaoCliente = "";
    var fantasiaCliente = "";

    if (IsPost)
    {

        // Recupera o valor informado
        // no formulário
        var razao = Request["razaoSocialCliente"];
        var fantasia = Request["fantasiaCliente"];

        razaoCliente = razao;
        fantasiaCliente = fantasia;

    }
}

@using DesafioMobWeb.Models
@model Cliente

<div>

    <p>Digite a razão Social e nome Fantasia:</p>

    <form action="" method="post">

        <p>Razão Social: @Html.TextBoxFor(x => x.razaoSocialCliente)</p>
        <p>Fantasia: @Html.TextBoxFor(x => x.fantasiaCliente)</p>
        <p>CNPJ: @Html.TextBoxFor(x => x.cnpjCliente)</p>
        <p>
            Endereço: @Html.TextBoxFor(x => x.ruaCliente)
            Número: @Html.TextBoxFor(x => x.numeroRuaCliente)
            Complemento: @Html.TextBoxFor(x => x.complementoCliente)
        </p>
            Bairro: @Html.TextBoxFor(x => x.bairroCliente)
            Município: @Html.TextBoxFor(x => x.municipioCliente)
            CEP: @Html.TextBoxFor(x => x.cepCliente)
        </p>

        <p><input type="submit" value="Enviar" /></p>

    </form>

    <p>Razão Social: <b> @razaoCliente </b></p>
    <p>Fantasia: <b> @fantasiaCliente </b></p>

</div>


