@using DesafioMobWeb.Models
@model Usuario

@{
    ViewBag.Title = "Cadastro de Usuários";

    var nomeCompleto = "";

    if (IsPost)
    {

        // Recupera o valor informado no formulário
        var nome = Request["nomeUsuario"];
        var sobrenome = Request["apelidoUsuario"];

        nomeCompleto = nome + " " + sobrenome;

    }
}

<h2>Validação de Usuários</h2>
@using (@Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Dados do Usuário</legend>

        <div class="editor-label">
            @Html.LabelFor(x => x.nomeUsuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.nomeUsuario)
            @Html.ValidationMessageFor(x => x.nomeUsuario)
        </div>
    </fieldset>
}

<h2>@ViewBag.Title</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>


        <div>

            <p>Digite o seu nome e apelido:</p>

            <form action="" method="post">

                <p>
                    Nome: @Html.TextBoxFor(x => x.nomeUsuario)
                    Apelido: @Html.TextBoxFor(x => x.apelidoUsuario)
                </p>
                <p>
                    E-mail: @Html.TextBoxFor(x => x.emailUsuario)
                    Telefone: @Html.TextBoxFor(x => x.telefoneUsuario)
                </p>

                <p><input type="submit" value="Enviar" /></p>

            </form>

            <p>Nome Completo: <b> @nomeCompleto </b></p>

        </div>



    </div>
</body>
</html>
