@model IEnumerable<DesafioMobWeb.Models.Cliente>

@{
    ViewBag.Title = "Lista de Clientes";
}

<h2>Consulta de Clientes</h2>

<!--###   TABELA DE CONSULTA DE CLIENTES   ###-->

<p>
    @Html.ActionLink("Cadastrar Novo", "Cadastrar")
</p>
<table class="table">
    <!--Títulos das Colunas-->
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.RazaoSocialCliente)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.FantasiaCliente)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.CnpjCliente)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.RuaCliente)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.NumeroRuaCliente)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.ComplementoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.BairroCliente)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.MunicipioCliente)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.CepCliente)
        </th>
    </tr>

    <!--Loop para listar todos os registros do BD-->
    @foreach (var cliente in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => cliente.RazaoSocialCliente)
            </td>
            <td>
                @Html.DisplayFor(x => cliente.FantasiaCliente)
            </td>
            <td>
                @Html.DisplayFor(x => cliente.CnpjCliente)
            </td>
            <td>
                @Html.DisplayFor(x => cliente.RuaCliente)
            </td>
            <td>
                @Html.DisplayFor(x => cliente.NumeroRuaCliente)
            </td>
            <td>
                @Html.DisplayFor(x => cliente.ComplementoCliente)
            </td>
            <td>
                @Html.DisplayFor(x => cliente.BairroCliente)
            </td>
            <td>
                @Html.DisplayFor(x => cliente.MunicipioCliente)
            </td>
            <td>
                @Html.DisplayFor(x => cliente.CepCliente)
            </td>
            <td>
                @Html.ActionLink("Visualizar", "Detalhes", new { id = cliente.ClienteID})
                @Html.ActionLink("Editar", "Editar", new { id = cliente.ClienteID })
                @Html.ActionLink("Excluir", "Excluir", new { id = cliente.ClienteID })
            </td>
        </tr>
    }
</table>
